.content {
    min-height: 1200px;
}

.leaderboard-wrap {
    background: linear-gradient(180deg, #212121 0%, rgba(57, 50, 50, 0) 100%);
    border: 1px solid #292626;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    margin: 80px 95px 40px 95px;
    
}

.leaderboard-title {
    margin-top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;

    text-align: center;

    color: #FFFFFF;
}

.filter {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
}

.byName {
    padding: 5px 3px 5px 10px;
    border: 1px solid #292626;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
}

.leagueOption {
    padding: 5px 3px 5px 10px;
    border: 1px solid #292626;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
}


.leaderboard {
    margin: 30px 50px 50px 30px;

    border: none;
    border-collapse:collapse;
}

.leaderboard-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2vh;
    margin-left: 25px;  
    margin-right: 25px;  
    text-align: center;
    border-bottom: 1px solid #7D7D7D;
    
    color: #FFFFFF;
    background: linear-gradient(180deg, #212121 0%, rgba(57, 50, 50, 0) 100%);
}

.leaderboard-header th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.leaderboard-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
    border-bottom: 1px solid #7D7D7D;
    background: none;
    color: #FFFFFF;
}

.leaderboard-text td {
    padding-top: 15px;
    padding-bottom: 15px;

}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    .filter {
        margin-top: 0;
    }
    .leaderboard-wrap {
        margin: 0;
    }
}

@media only screen and (max-width: 576px) {
   .leaderboard {
       margin: 0;
   }
}

