.content-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.tour-title {
    position: relative;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;

    color: #FFFFFF;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 25px 0;
    grid-gap: 20px;
}

.tour-title::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #3A3939;
}


.tour-items {
    margin-top: 20px;
    padding: 0 20px 20px 0;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 5%;
}

.tour-image {
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    background:rgba(82, 80, 80, 0.9);
    border: 0px solid black;
    border-radius: 25px 25px 0 0;
}

.tour-description {
    padding: 10px 10px 10px 10px;
    background: rgba(82, 80, 80, 0.9);
    border-width: 0px 1px 1px 1px;
    border-color: #000000;
    border-radius: 0px 0px 25px 25px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
}

.tour-name {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;

    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.tour-name:hover {
    color: #8f8c8c;
}

.description-item p {
    margin: 0;
    padding: 0;

    margin-top: 10px;
    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    
    color: #9A9A9A;

    display: inline-block;
    vertical-align: top;
}

.tour-places {
    float: right;
}

.tour-date {
    text-align: center;

    margin: 0;
    padding: 0;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;


    color: #FFFFFF;
}

